@model PresentacionMVC.Models.ConsultaEspecieViewModel

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Especie.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie.NombreCientifico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie.NombreVulgar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie.PesoMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie.PesoMaximo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie.LongitudMinima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie.LongitudMaxima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie.ArchivoImagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Especie.Id)
            </td>
            <td>
                @Html.DisplayFor(model => model.Especie.NombreCientifico)
            </td>
            <td>
                @Html.DisplayFor(model => model.Especie.NombreVulgar)
            </td>
            <td>
                @Html.DisplayFor(model => model.Especie.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(model => model.Especie.PesoMinimo)
            </td>
            <td>
                @Html.DisplayFor(model => model.Especie.PesoMaximo)
            </td>
            <td>
                @Html.DisplayFor(model => model.Especie.LongitudMinima)
            </td>
            <td>
                @Html.DisplayFor(model => model.Especie.LongitudMaxima)
            </td>
            <td>
                <img src="/@Model.RutaDirectorioImagenesEspecies/@Model.Especie.ArchivoImagen" height="30">
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=Model.Especie.Id }) |

            </td>
        </tr>
        
    </tbody>
</table>