@model PresentacionMVC.Models.ConsultaEspecieViewModel

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EspeciesPorEcosistema.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspeciesPorEcosistema.First().NombreCientifico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspeciesPorEcosistema.First().NombreVulgar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspeciesPorEcosistema.First().Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspeciesPorEcosistema.First().PesoMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspeciesPorEcosistema.First().PesoMaximo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspeciesPorEcosistema.First().LongitudMinima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspeciesPorEcosistema.First().LongitudMaxima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspeciesPorEcosistema.First().ArchivoImagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EspeciesPorEcosistema)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCientifico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreVulgar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PesoMinimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PesoMaximo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LongitudMinima)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LongitudMaxima)
                </td>
                <td>
                    <img src="/@Model.RutaDirectorioImagenesEspecies/@item.Id@item.ArchivoImagen" height="30">
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Detalles", new { id=item.Id })

                </td>
            </tr>
        }
    </tbody>
</table>