@model PresentacionMVC.Models.ConsultaEspecieViewModel

@{
    ViewData["Title"] = "Consuta";
}

<h1>Consutas</h1>

<div id="tabs">

    <ul>
        <li><a href="#tabs-1">Todas las especies</a></li>
        <li><a href="#tabs-2">Por nombre científico</a></li>
        <li><a href="#tabs-3">En peligro de extinción</a></li>
        <li><a href="#tabs-4">Por rango de peso</a></li>
        <li><a href="#tabs-5">Por ecosistema</a></li>
        <li><a href="#tabs-6">No puede habitar</a></li>                
    </ul>

    <!-- Todas las especies -->
    <div id="tabs-1">

        @if (Model.Especies.Any())
        {
            @Html.Partial("_ListaEspecies", Model)
        }

        <form asp-action="Consultas">
            
            <input type="hidden" value="todasEspecies" name="TipoDeConsulta" />

            <!-- Botón crear -->
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>

        </form>

    </div>

    <!-- Por nombre científico -->
    <div id="tabs-2">

        <form asp-action="Consultas">                     

            <select name="IdNombreCientifico">

                @foreach (LogicaNegocio.Dominio.Especie especie in Model.Especies)
                {
                    if (Model.Especies != null
                    && Model.IdNombreCientifico == especie.Id)
                    {
                        <option selected value="@especie.Id">@especie.NombreCientifico (@especie.NombreVulgar)</option>
                    }
                    else
                    {
                        <option value="@especie.Id">@especie.NombreCientifico (@especie.NombreVulgar)</option>
                    }
                }
            </select>

            <input type="hidden" value="nombreCientifico" name="TipoDeConsulta" />

            <input type="submit" value="Buscar" class="btn btn-primary" />

        </form>
        
        @if (Model.TipoDeConsulta == "nombreCientifico" && Model.Especies.Any())
        {
            @Html.Partial("_Especie")
        }
  
    </div>

    <!-- En peligro de extinción -->
    <div id="tabs-3">

        @if (Model.EspeciesEnPeligro != null && Model.EspeciesEnPeligro.Count() > 0)
        {
            @Html.Partial("_ListaEspeciesEnPeligro", Model)
        }
        else
        {
            <div class="sin-datos">
                No se encontraron especien en peligro de extinción
            </div>
        }

        <form asp-action="Consultas">

            <input type="hidden" value="peligroExtincion" name="TipoDeConsulta" />

            <!-- Botón crear -->
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>

        </form>

    </div>

    <!-- Por rango de peso -->
    <div id="tabs-4">

        <form asp-action="Consultas">

            <div class="form-group">
                <label asp-for="Especie.PesoMinimo" class="control-label"></label>
                <input asp-for="Especie.PesoMinimo" class="form-control" />
                <span asp-validation-for="Especie.PesoMinimo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Especie.PesoMaximo" class="control-label"></label>
                <input asp-for="Especie.PesoMaximo" class="form-control" />
                <span asp-validation-for="Especie.PesoMaximo" class="text-danger"></span>
            </div>

            <input type="hidden" value="rangoPeso" name="TipoDeConsulta" />

            <input type="submit" value="Buscar" class="btn btn-primary" />

        </form>   

        @if (Model.TipoDeConsulta == "rangoPeso")
        {
            if (Model.EspeciesPorRangoPeso.Any())
            {
                @Html.Partial("_ListaEspeciesPorRangoPeso", Model)
            }
            else
            {
                <div class="sin-datos">
                    No se encontraron especies en el rango de peso indicado
                </div>    
            }
        }       

    </div>

    <!-- Por ecosistema -->
    <div id="tabs-5">

        <form asp-action="Consultas">

            <select name="IdPorEcosistema">

                @foreach (LogicaNegocio.Dominio.Ecosistema ecosistema in Model.Ecosistemas)
                {
                    if (Model.Especies != null
                     && Model.IdPorEcosistema == ecosistema.Id)
                    {
                        <option selected value="@ecosistema.Id">@ecosistema.Nombre</option>
                    }
                    else
                    {
                        <option value="@ecosistema.Id">@ecosistema.Nombre</option>
                    }
                }
            </select>

            <input type="hidden" value="porEcosistema" name="TipoDeConsulta" />

            <input type="submit" value="Buscar" class="btn btn-primary" />

        </form>

        @if (Model.TipoDeConsulta == "porEcosistema")
        {
            if (Model.EspeciesPorEcosistema != null && Model.EspeciesPorEcosistema.Any())
            {
                @Html.Partial("_ListaEspeciesEnEcosistema", Model)    
            }           
            else
            {
                <div class="sin-datos">
                    No se encontraron especies vinculadas al ecosistema indicado
                </div>
            }
        }

    </div>

    <!-- No puede habitar -->
    <div id="tabs-6">

        <form asp-action="Consultas">

            <select name="IdNoPuedeHabitar">

                @foreach (LogicaNegocio.Dominio.Especie especie in Model.Especies)
                {
                    if (Model.Especies != null
                    && Model.IdNoPuedeHabitar == especie.Id)
                    {
                        <option selected value="@especie.Id">@especie.NombreCientifico (@especie.NombreVulgar)</option>
                    }
                    else
                    {
                        <option value="@especie.Id">@especie.NombreCientifico (@especie.NombreVulgar)</option>
                    }
                }
            </select>

            <input type="hidden" value="noPuedeHabitar" name="TipoDeConsulta" />

            <input type="submit" value="Buscar" class="btn btn-primary" />

        </form>

        @if (Model.TipoDeConsulta == "noPuedeHabitar")
        {
            if (Model.EcosistemasEspecieNoPuedeHabitar.Any())
            {
                @Html.Partial("_ListaNoPuedeHabitar")
            }
            else
            {
                <div class="sin-datos">
                    No se encontraron ecosistemas incompatibles para la especie
                </div>
            }
        }

    </div>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/start/jquery-ui.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">

    $(function () {
        
        $("#tabs").tabs();

        let TipoDeConsulta = "@Model.TipoDeConsulta"

        switch (TipoDeConsulta) 
        {
            case "nombreCientifico":
                $("#tabs").tabs("select", 1);
                break;
            case "peligroExtincion":
                $("#tabs").tabs("select", 2);
                break;
            case "rangoPeso":
                $("#tabs").tabs("select", 3);
                break;
            case "porEcosistema":
                $("#tabs").tabs("select", 4);
                break;
            case "noPuedeHabitar":
                $("#tabs").tabs("select", 5);
                break;
            default:
                $("#tabs").tabs("select", 0);
        }

        $('#tabs').tabs({
            select: function (event, ui) {
                console.log(event);
            }
        })

    });

</script>
